<form class="card" [formGroup] = "form">
    <div class="card-content">
        <span class="card-title">Create transaction</span>
        <mat-form-field class="example-full-width">
            <mat-label>User Name</mat-label>
            <input type="text" class = "user-input" matInput formControlName ="username" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of searchedUsersList$ | async" [value]="option.name">
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
            <span class="helper-text red-text" *ngIf="form.get('username').invalid && form.get('username').touched">
                <span *ngIf="form.get('username').errors['required']">User can't be empty</span>
            </span>
          </mat-form-field>
        <div class="input-field">
            <input 
            formControlName = "amount"
            id="amount"
            type="number" 
            [ngClass] = "{'invalid': form.get('amount').invalid && form.get('amount').touched}"
            >
            <label for="amount"> Amount</label>
            <span class="helper-text red-text" *ngIf="form.get('amount').invalid && form.get('amount').touched">
                <span *ngIf="form.get('amount').errors['amount']">Amount can't be empty</span>
                <span *ngIf="form.get('amount').errors['max']">
                    You don't have enought money 
                </span>  
            </span>
        </div>
    </div>
    <div class="card-action">
        <button 
            type = "submit" 
            class="modal-action btn waves-effect" 
            [disabled] = "form.invalid">Submit</button>

    </div>
</form> 
